.top {
  background-image: url(https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg);
  background-size: cover;
  height: 834px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navigate {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212529;
}

.title {
  margin-left: 50px;
  color: #FED136;
  font-size: 28px;
}

.links {
  font-size: 90%;
  color: #fff;
  margin-right: 50px;
  display: flex;
  font-weight: 700;
}

.menuIcon{
  display: none;
}

span {
  display: flex;
  justify-content: space-around;
  margin: 12px;
}
.message {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.welcome {
  color: #fff;
  font-size: 3em;
  font-family: sans-serif;
  margin: 5px;
  font-weight: 400;
}
.meet {
  font-size: 5em;
  margin: 5px;
  color: #fff;
  margin-bottom: 35px;
  text-align: center;
}

.tellMeMore {
  background-color: #FED136;
  border-radius: 5px;
  border: none;
  font-weight: bolder;
  font-size: 1.2em;
  padding: 0px 40px;
  color: #fff;
}
.hideMenu{
  display: none;
}

@media(max-width: 1000px){
  .links{
    display: none;
  }
  .menuIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #FED136;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    margin-right: 50px;
    font-weight: 600;
    font-size: .8em
  }
  .showMenu {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #212529;
    height: 200px;
    width: 100%;
    padding-bottom: 20px;
  }
  .hideMenu{
    display: none;
  }
  .span2{
    margin-left: 50px;
    font: 24px;
    color: #fff
  }

}
    .section2{
      height: 800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    h3{
      font-size: 2.5em;
      margin: 5px;
    }
    .services{
      display: flex;
      flex-direction: column;
    }
    .threedivs{
      display: flex;
      justify-content: space-around;
    }
    .three{
      background-color: aqua;
      height: 350;
      max-width: 33.33%
    }
